.container-fluid {
  font-family: 'Poppins', sans-serif;
}

.bg-dark-blue {
  background-color: #001f4d;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.gap-35 > .nav-item {
  margin-right: 35px;
}
.navlink{
  color: black;}

 


.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.intro {
  position: relative;
  z-index: 2;
  padding: 10px;
  font-size:15px;
  text-align:center;
  
}



       .content{
  padding-left: 10px;
 }
    
   
            
          footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
  }

      
 .no-style {
  text-decoration: none;
  color: black;
  
}

.skillstats1{
  padding-bottom:20px;
}
.skillstats2{
  padding-bottom:20px
}
.skillstats3{
  padding-bottom: 20px;
}
