body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}
  .container-fluid {
  font-family: 'Poppins', sans-serif;
}

.bg-dark-blue {
  background-color: #001f4d;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.gap-35 > .nav-item {
  margin-right: 35px;
}
.navlink{
  color: black;}

 
   
 
.hero{
  text-align:center;
  colour:black;
  justify-content:center;
  
}



       .content{
  padding-left: 10px;
 }
    
   
            
          footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
  }

      
 .no-style {
  text-decoration: none;
  color: black;
  
}

.skillstats1{
  padding-bottom:20px;
}
.skillstats2{
  padding-bottom:20px
}
.skillstats3{
  padding-bottom: 20px;
}
